:root {
  --main-button-bgcolor: #4285f4;
  --table-header-bgcolor: #fafafa;
  --table-border-color: #efefef;
  --header-border-color: #efefef;

  --secondary-button-bgcolor:white;
  --secondary-button-color : #4285f4
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main-button {
  background-color: var(--main-button-bgcolor);
  border: none;
  padding: 10px 30px;
  color: white;
  border-radius: 3px;
  font-weight: bold;
}

.secondary-button {
  background-color: var(--secondary-button-bgcolor);
  border: 1px solid var(--secondary-button-color);
  padding: 10px 30px;
  color: var(--secondary-button-color);
  border-radius: 3px;
  font-weight: bold;
}

.main-button:hover, .secondary-button:hover {
  cursor: pointer;
}

header {
  border: 1px solid var(--header-border-color);
  display: flex;
  flex-direction: row;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
}

#logo {
  margin-left: 1rem;
}

#profile-button{
  margin-right: 15px;

}

main {
  /* border: 1px red solid;   to analyse structure  */
  height: 90vh;
  margin-left: 15%;
  margin-right: 15%;
}

#record-topbar {
  display: flex;
  flex-direction: row;
  /* height : 40px; */
  padding-top: 2rem;
  align-items: center;
  max-height: 100px;
  justify-content: space-evenly;
}

#record-topbar > #record-add-button {
  /* height: 30px; */
  margin-left: auto;
}

#record-table {
  width: 100%;
  text-align: center;
  /* border: 1px solid black; */
  border-collapse: collapse;
  border: 1px solid var(--table-border-color);
}

#record-table tr {
  width: 100%;
}

#record-table td,
#record-table th {
  padding: 10px;
}

table tr {
  border-bottom: 1px solid var(--table-border-color);
}

#record-table th {
  /* border-right: 1px solid white;  */
  padding: 20px 10px;
  background-color: var(--table-header-bgcolor);
  max-width: 100%;
  
}

/* #record-table th:last-child {
  border-right: 1px solid black;
} */

#record-table td {
  border-radius: 5px;
}

/* no records heading */
#no-records{
  position: absolute;
  left : 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  /* border: 1px solid red; */
}


/* Modal */
.modal{
  position: fixed;
  display: none;
  /* flex-direction: column; */
  border: 1px solid grey;
  border-radius: 5px;
  width: 50%;
  height: 60vh;
  padding: 15px;
  margin-top: 4rem;
  /* justify-content: space-evenly; */
  z-index: 6;
  transform: translate(50%, 0%);
  background-color: white;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 4;
}

.modal-heading{
  display: flex;
  flex-direction: row;
  height: 3rem;
  padding-left: 2rem;
}

.close{
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
}

.close:hover{
  background-color: red;
  border: none;
  padding: 10px 30px;
  color: white;
  border-radius: 3px;
  font-weight: bold;
}

.modal-body{
  /* margin-top: 2rem; */
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-evenly;
  /* height: 100%; */
  position: absolute;
  bottom: 10px;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  /* align-self: center; */
}

.modal-input{
  padding: 0.5rem;
  width: 97%;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid grey;

}

.modal textarea{
  font-family: "Roboto", sans-serif;;
}


/* In order to remove outline while focusing on element */
.modal-input:focus{
  outline: none;
  background-color: #F1F3F4;
}

.modal-input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
}

.modal-input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
}

.modal-input:-moz-placeholder {
  font-family: "Roboto", sans-serif;
}

.modal-input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
}

.cat-amt-collection{
  display: flex;
  flex-direction: row;
}


.select-input{
  padding: 0.5rem;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid grey;
  margin: 10px;
}

.select-input:focus{
  outline : none;
}

.cat-amt-select{
  width: 50%;
}
.amt{
  width: 50%;
}


.modal-body button{
  margin-top: 2rem;
}


/* name search dropdowm */
.modal-name-dropdown{
  position: absolute;
  background-color: white;
  /* border: 1px solid grey; */
  border: none;
  border-radius: 5px;
  max-height: 200px;
  width: 50%;
  /* margin-top: 55px; */
  display: none;
  flex-direction: column;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.name-display option{
  border: 1px solid grey;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
  border-bottom: 1px solid rgb(150, 143, 143);
  
}

.modal-name-dropdown button{
  margin-top: 0px;
  /* margin: 5px; */
  background-color: white;
  color: var(--main-button-bgcolor);
  border: none;
  padding: 5px;
  position:sticky;
  /* top: 200px; */
  bottom: 0px;
  width: 100%;
  height: 40px;
  text-align: left;
  font-weight: 700;
  cursor: pointer;
  
}


.suggestion-item {
  cursor: pointer;
}

/* not working */
.suggestion_item > .suggestion_mobile{
  margin-left: auto;
}




.addUserModal-body{
  border: 1px solid red;
  position:absolute;
  top: 140px;
  left : 330px;
  right: 20px;
  background-color: white;
  display: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

.addUserModal-input{
  padding: 0.5rem;

  width: 90%;
  margin-top: 10px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid grey;
}

.addUserModal-input:focus{
  outline: none;
  background-color: #F1F3F4;
}


.addUserModal-body button{
  margin: 10px;
  
  
}