body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.modal_theme {
  width: 50%;
  padding-top: 7rem;
}
.modal_theme input,
textarea,
select {
  padding: 0.5rem;
}

form {
  width: 100%;
}

.form_field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* form subfield theme */

.form_subfield {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin: 15px 10px; */
  margin-top: 15px;
  color: black;
}

.form_subfield > input,
textarea,
select {
  border-radius: 5px;
  border: 2px solid grey;
  font-family: "Poppins", sans-serif;
}

.form_subfield > input:focus,
textarea:focus,
select:focus {
  background-color: black;
  color: white;
}

select {
  color: black;
}

.form_subfield > input::placeholder,
textarea::placeholder {
  color: black;
}
.form_subfield > input:focus::placeholder,
textarea:focus::placeholder,
select:focus {
  color: white;
}

/* wrapper for payment and category */
.wrapper_category_pay {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.wrapper_category_pay > .form_subfield {
  width: 50%;
}
.pay {
  margin-left: 10px;
}

.submit_button {
    padding: 0.5rem;
    width: 100%;
    margin-top: 15px;
    background-color: white;
    border-radius: 5px;
}

.submit_button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
